.signature-page {
    color: var(--color-text-dark);

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        background: #F4F5F6;
        color: var(--color-text-dark);
        border-bottom: 0.5px solid var(--color-border-extra-light);
    }

    .title {
        margin: 20px auto;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }

    .account-info {
        padding: 16px;
        border-top: 0.5px solid var(--color-border-extra-light);
        border-bottom: 0.5px solid var(--color-border-extra-light);

        .address {
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 8px;
        }

        .balance {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }
    }

    main {
        padding: 32px 16px;

        .message-container {
            border: 1px solid var(--color-border-extra-light);
            padding: 12px;
            background-color: white;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }

        .signing-message-text {
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
        }

        .greeting {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .group-btn {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        border-top: 0.5px solid var(--color-border-extra-light);
        position: absolute;
        width: 100%;
        bottom: 0;

        button {
            width: 49%;
        }
    }
}