.import-nft-page {
    .main-content {
        padding: 20px 16px;

        .title {
            font-weight: 500;
            font-size: 22px;
            line-height: 24px;
            color: var(--color-text-dark);
            margin-bottom: 10px;
        }
    }
}