footer {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;

    button {
        border: none;
        outline: none;
        background: none;
        font-size: 13px;
        cursor: pointer;
        color: var(--color-text-light);
    }
}