.show-and-hide-password-input {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
        margin-right: 10px;
    }

    .button {
        cursor: pointer;
        width: 20px;
    }
}